body {
  margin: 0;
  background-color: #f7fbe9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-message {
  color: red;
  font-size: 14px;
  margin: 5px 0 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin: 5px 0 10px;
}

.auth-container {
  width: 100%;
  max-width: 350px;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin-bottom: -30px;
}

.title {
  font-size: 26px;
  font-weight: bold;
  color: #2f2f1f;
  margin-bottom: 10px;
}

.auth-container h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.auth-container p {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}


input,
.btn-primary,
.btn-google {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}


input {
  border: 1px solid #ccc;
  margin: 8px 0;
}

.btn-primary {
  background-color: #3c3d2f;
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}


.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #888;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}
.divider:not(:empty)::after {
  margin-left: 10px;
}


.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  font-weight: bold;
  cursor: pointer;
}

.btn-google img {
  width: 18px;
  margin-right: 8px;
}

.terms {
  font-size: 11px;
  color: #666;
  margin-top: 15px;
}

.terms a {
  color: #2f2f1f;
  text-decoration: none;
}

.redirect {
  font-size: 13px;
  margin-top: 15px;
}

.redirect a {
  color: #2f2f1f;
  font-weight: bold;
  text-decoration: none;
}
