@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fontes/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fontes/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #c8e0a4;
    color: #3b3f2b;
}

/* Header */


header img {
    max-width: 180px;
    width: 7%;
    height: auto;
}

/* HERO */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    background-color: #c8e0a4;
}

.celular {
    max-width: 30%;
    margin-right: 20px;
}

.hero-text {
    max-width: 500px;
    text-align: center;
}

/* Texto padrão dentro do hero */
.hero-text p {
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 200;
}

.hero-text .textinho {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero-text h2 {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 25px;
}


/* Botão */
.hero-text button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 15px auto;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    background-color: #516d43;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background-color: #7ea16b;
}

/* FEATURES */
.features {
    background-color: #516d43;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 5%;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.feature {
    max-width: 400px;
    max-height: 250px;
}

.feature img {
    height: 60%;
    margin-bottom: 10px;
}

.logo {
    width: 250px;
}
