@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fontes/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fontes/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
}

/* --- Gerais --- */
body {
  margin: 0;
  background-color: #f7fbe9;
  display: flex;
  overflow: hidden;
}

a {
  text-decoration: none;
}

span {
  font-size: 1.3rem;
}

/* --- Splash Screen --- */
.splash {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #c8e0a4;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.splash img {
  width: 300px;
  animation: zoomIn 2.5s ease forwards;
}
.splash.hidden { display: none; }

@keyframes zoomIn {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* --- Loading --- */
.loading {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.4s ease;
}
.loading.hidden {
  display: none;
}
.loading.fade-in {
  opacity: 1;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,0.2);
  border-top: 6px solid #ffffff;
  border-radius: 50%;
  animation: spin 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite; 
}
@keyframes spin {
  100% { transform: rotate(360deg); }
}


/* --- Main Área --- */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 40px;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
}

/* --- Título --- */
.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 400;
  font-family:'Montserrat', sans-serif;
}

.title h1 {
  color: #3b3f2b;
  font-size: 40px;
  margin-bottom: 10px;
}

/* --- Cards Container --- */
.cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  padding-bottom: 60px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* --- Card --- */
.card {
  background-color: #c8e0a4;
  width: 400px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background-color: #7ea16b;
  color: white;
}

.card img {
  max-height: 100%;
  width: auto;
}

.card span {
  font-size: 25px;
  font-weight: bold;
  color: #3b3f2b;
  margin-left: 22px;
  
}

.card:hover span {
  color: white;
}
