.title{
  margin-bottom: 15px;
}

.questao-box {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 850px;
}

#textoQuestao {
  font-size: 1.2rem;
}


.alternativa {
  margin: 10px 0;
  padding: 12px;

  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.05rem;
}

.alternativa:hover {
  background: #e6e6e6;
}


.bolinha {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #33ac49;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1rem;
  background: white;
  transition: 0.2s;
}

.alternativa:hover .bolinha {
  background: #dff3df;
}


.alternativa.selecionada {
  background: #c8e8c6;
  border: 2px solid #33ac49;
}

.alternativa.selecionada .bolinha {
  background: #33ac49;
  color: white;
  border-color: #2d923f;
}

.controle {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

#btnConfirmar {
  background: #33ac49;
  color: white;
}

#btnConfirmar:hover {
  background: #2b8e3d;
}

#btnAnterior, #btnProxima {
  background: #ddd;
}

#btnAnterior:hover, #btnProxima:hover {
  background: #ccc;
}

#progresso {
  margin-top: 15px;
  font-size: 1.1rem;
  font-weight: bold;
}

.main {
  padding: 20px
}


.toast {
  position: fixed;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  background: #ff4444;
  color: white;
  padding: 14px 22px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: top 0.4s ease;
  z-index: 9999;
}

.toast.show {
  top: 20px;
}

.toast.hidden {
  display: none;
}

.textinho {
    max-width: 85.4%;
}

@media screen and (min-width: 2100px) and (min-height: 1448px) {
    * {
        font-size: 2.2rem;
    }

    .questao-box {
      width: 50rem;
      max-width: 500rem;
    }
    .bolinha {
      width: 1.5rem;
      height: 1.5rem;
    }
}