.main.simulados .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #c8e0a4;
  width: 400px;
  height: 150px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.3s;
}

.main.simulados .cards .card img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.main.simulados .cards .card:hover {
  background-color: #7ea16b;
  color: white;
}

.main.simulados .cards .mat:hover {
  background-color: #7ea16b;
  color: white;
}

.escrita{
    font-size: 1.3rem;
}

@media screen and (min-width: 2100px) and (min-height: 1448px) {
    * {
        font-size: 2.2rem;
    }

    .title h1 {
      font-size: 2.5rem;
    }

    .card {
      min-width: 24rem;
      max-width: 30rem;
      min-height: 10rem;
      max-height: 20rem;
      border-radius: 1.2rem;
    }

    .card span {
      font-size: 2rem;
    }
}